<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>text/x-python</key>
	<string>python</string>
	<key>text/x-perl</key>
	<string>perl</string>
	<key>text/x-ruby</key>
	<string>ruby</string>
	<key>text/x-php</key>
	<string>php</string>
	<key>text/x-shellscript</key>
	<string>shell</string>
	<key>text/x-c++</key>
	<string>C++</string>
	<key>text/x-c</key>
	<string>C</string>
	<key>application/xml</key>
	<string>xml</string>
</dict>
</plist>
